<script scr="/functions/delete-equipment.js"></script>
 <script type="text/javascript">

       
       
        </script>
    <h1>Equipment</h1> 
    <p>List of equipment</p>
    <table class="main-table">
    <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.equipmentID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.item_count}}</td>
                 <td><button onclick="deleteEquipment({{ this.equipmentID }})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
    <div class="section"></div> 
        <h2>Add equipment for an activity</h2>
        <form method="POST" id="addEquipment" action="add-equipment">
            <table class='sub-table'>
                <tr>
                    <td><label for='name'>Name:</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td><label for='item_count'>Item count:</label></td>
                    <td><input type="number" id="item_count" name="item_count" required></td>
                    <td>*Required</td>
                </tr>
            </table>
        <div class='form-btns'>
        <input type="submit" value="Submit">
        </div>
      </form> 
    </div>



