<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link id="styleSheet" href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class='navbar'>
        <div class='title'>
            <a ><img src='imgs/FitnessCenterIMG.png'/></a>
            <a id="fitnesshome"><h1> The Fitness Center</h1> </a>
        </div> 
    <script src="members.js"></script>
 
    
      </script>
<p> <a href="/"> Home </a> |
        <a href="members.hbs">[ Members ]</a> |
        <a href="activities.hbs">Activities</a> |
        <a href="equipment.hbs">Equipment</a> | 
        <a href="reservations.hbs">Reservations</a></a> </p>
        <hr/>
        <h1>Members</h1>
    <p>Current Members</p>
    <table class="main-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            
            {{/each}}
            <th>Delete</th>
            
        </tr>
        </thead>
        
        <tbody>
            
            {{#each data}}
        
        <tr>
  
        <td>{{this.memberID}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.join_date}}</td>
        <td><button onclick="/delete-member">Delete</button></td>
       </tr>
        {{/each}}
    </tbody>
    </table>
    <div class='section'>
        <h2>Search for a member</h2>
        <form id='search-member-html' method='GET' action='/members.hbs'>
            <table class='sub-table'>
                <tr>
                    <td><p><label for='input-owner_name'>Member name: </label></p></td>
                    <td><input
                            type='text'
                            name='member_name'
                            id='input-member_name-html-search'
                            required
                        /></td>
                </tr>
            </table>
            <div class='form-btns'>
                <input type='submit' value='Search' />
                <a href='/members.hbs'><input type='button' value='Back' /></a>
            </div>
        </form>
    </div>
    <div class="section">    
        <h2>Add a member</h2>
        <form method="POST" id="addMember" action="/addMember">
            <table class="sub-table">
                <tr>
                    <td><label for='name'>Name:</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                    <td>*Required</td>

                </tr>
                <tr>
                    <td><label for='Email'>Email:</label></td>
                    <td><input type="text" id="email" name="email" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td><label for='phone'>Phone:</label></td>
                    <td><input type="text" id="phone" name="phone"></td>
                </tr>
                <tr>
                    <td><label for='join_date'>Join_date:</label></td>
                    <td><input type="date" id="join_date" name='join_date'required ></td>
                    <td>*Required</td>
                </tr>
            </table>
            <div class='form-btns'>
                <input type='submit' value='Create' />
                <a href='/members.hbs'><input type='button' value='Cancel' /></a>
            </div>
      </form> 
    </div>
    <div class="section" >    
        <h2>Edit a member</h2>
        <p><em>Select a member from the drop-down menu and input new information for the member
		</em></p>
	<form id='edit-member' method='POST' action='/edit-member'>
            <table class="sub-table">
                <tr>
                    <td><label for='member_id'>Select a member: </label></td>
                    <td><select
                            name='member_id'
                            id='edit_member_selection'
                            onChange='fillForm()'
                            required
                        >
                        <option value='member'>Select a member</option>
							<option value='1'>Abhram Medina
						</option>
							<option value='2'>Chris McDaniel
							</option>
							<option value='3'>Bob Davis
								</option>
                        </select></td>
                        <td>*Required</td>
                    
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="name"></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" id="email"></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" id="email"></td>
                </tr>
                <tr>
                    <td>Join Date:</td>
                    <td><input type="date" id="releaseDate"></td>
                    <td>*Required</td>
                </tr>
          
            </table>
            <div class='form-btns'>
                <input type='submit' value='Edit' />
                <a href='/members.html'>
                    <input type='button' value='Cancel' /></a>
            </div>
      </form> 
    </div>
</body>
<hr/>
<p><em>© 2023 Abhram Medina, Chris McDaniel</em></p>
</html>

  