
        <script src="/functions/delete-functions.js"></script>
        <script type="text/javascript">

       
       
        </script>
        
        <h1>Members</h1>
    <p>Current Members</p>
        <table class="main-table">

        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.memberID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.join_date}}</td>
                <td><button onclick="deleteMember({{ this.memberID }})">Delete</button></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
  
       
        
    <div class='section'>
        <h2>Search for a member</h2>
        <form id='search-member-html' method='GET' action='/members'>
            <table class='sub-table'>
                <tr>
                    <td><p><label for='input-owner_name'>Member name: </label></p></td>
                    <td><input
                            type='text'
                            name='name'
                            id='input-member_name-html-search'
                            required
                        /></td>
                </tr>
            </table>
            <div class='form-btns'>
                <input type='submit' value='Search' />
                <a href='/members'><input type='button' value='Back' /></a>
            </div>
        </form>
    </div>
    <div class="section">    
        <h2>Add a member</h2>
        <form method="POST" id="addMember" action="/add-member">
            <table class="sub-table">
                <tr>
                    <td><label for='name'>Name:</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                    <td>*Required</td>

                </tr>
                <tr>
                    <td><label for='Email'>Email:</label></td>
                    <td><input type="text" id="email" name="email" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td><label for='phone_number'>Phone:</label></td>
                    <td><input type="text" id="phone_number" name="phone_number"></td>
                </tr>
                <tr>
                    <td><label for='join_date'>Join_date:</label></td>
                    <td><input type="date" id="join_date" name='join_date'required ></td>
                    <td>*Required</td>
                </tr>
            </table>
            <div class='form-btns'>
                <input type='submit' value='Create' />
                <a href='/members'><input type='button' value='Cancel' /></a>
            </div>
      </form> 
    </div>
    <div class="section" >    
        <h2>Edit a member</h2>
        <p><em>Select a member from the drop-down menu and input new information for the member
		</em></p>
	<form id='edit-member-ajax' method='post' action='/edit-member'>
            <table class="sub-table">
                <tr>
                    <td><label for='member_id'>Select a member: </label></td>
                    <td><select
                            name='member_id'
                            id='edit_member_selection_ajax'
                            onclick="fillform()"
                            required
                        >
                        <option value='member'>Select a member</option>
                        {{#each fitmembers}}
							<option value='{{this.memberID}}'>{{this.name}}</option>
							{{/each}}
                        </select></td>
                        <td>*Required</td>
                    
                </tr>
                <tr>
                    <td><label for="update_name">Name:</label></td>
                    <td><input type="text" id="update_name" name="update_name" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td><label for="update_email">Email:</label></td>
                    <td><input type="text" id="update_email" name="update_email" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td><label for="update_phone">Phone:</label></td>
                    <td><input type="text" id="update_phone" name="update_phone"></td>
                </tr>
                <tr>
                    <td><label for="update_date">Join Date:</label></td>
                    <td><input type="date" id="update_date" name="update_date" required></td>
                    <td>*Required</td>
                </tr>
          
            </table>
            <div class='form-btns'>
                <input type='submit' value='Edit' />
                <a href='/members'>
                    <input type='button' value='Cancel' /></a>
            </div>
      </form> 
    </div>


