        <script src="/functions/delete-functions.js"></script>

        <h1>Reservations</h1>
    <p>Current Reservations</p>
    <table class="main-table">

        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.reservationID}}</td>
                <td>{{this.member_name}}</td>
                <td>{{this.activity}}</td>
                <td>{{formatDate this.reservation_start "MM/DD/YYYY h:mma"}}</td>
                <td>{{formatDate this.reservation_end "MM/DD/YYYY h:mma"}}</td>
                <td><button onclick="deleteReservation({{ this.reservationID }})">Delete</button></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="section"></div>    
        <h2>Add a Reservation</h2>
        <form method="POST" id="addReservation" action="/add-reservation">
            <table class="sub-table">
                <tr>
                    <td>Select Member:</td>
                    <td>
                        <select
                            name='memberID'
                            id='memberID'
                            required
                        >
                    <option value='memberID'>Select a member</option>
                        {{#each members}}
							<option value='{{this.memberID}}'>{{this.name}}</option>
							{{/each}}
                        </select></td>
                        <td>*Required</td>
                </tr>
                <tr>
                    <td>Select Activity:</td>
                    <td>
                        <select
                            name='activityID'
                            id='activityID'
                            required
                        >
                    <option value='activityID'>Select an activity</option>
                        {{#each activities}}
							<option value='{{this.activityID}}'>{{this.name}}</option>
							{{/each}}
                        </select></td>
                        <td>*Required</td>
                </tr>
                <tr>
                    <td>Reservation start:</td>
                    <td><input type="datetime-local" id="reservationStart" name="reservationStart" required></td>
                    <td>*Required</td>
                </tr>
                <tr>
                    <td>Reservation end:</td>
                    <td><input type="datetime-local" id="reservationEnd" name="reservationEnd" required></td>
                    <td>*Required</td>
                </tr>      
            </table>
    <div class="form-btns">
        <input type="submit" value="Add">
    </div>
      </form> 
    </div>
